<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2016/11/15/07/09/photo-manipulation-1825450_1280.jpg);">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="container mt-3">
<p id="notice"><%= notice %></p>
  <div class="row">
    <div class="row">
      <div class="col">
        <%= link_to "Add movie", new_list_bookmark_path(@list), class: "btn btn-primary" %>
        <p>All <%= @list.movies.count %> movies. </p>
      </div>
    </div>
    <div class="row">
      <% @list.movies.each do |movie| %>
        <div class="col-md-4">
          <div class="movie-card" data-controller="card" data-action="mouseover->card#hoverDelete mouseout->card#hoverDelete">
            <div class="movie-card-image" style="background-image: url('<%= movie.poster_url %>')">
            </div>
            <div class="movie-card-content">
              <div class="movie-card-title">
                <h4><%= movie.title %></h4>
              </div>
              <h5>Overview:</h5>
              <%= movie.overview %>
              <% movie.bookmarks.each do |bookmark| %>
                <br>
                  <div class="bookmark-comment">
                    <span><%= bookmark.comment %></span>
                  </div>
                  <span><%= link_to "+", bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?", "card-target"=>"delete"}, class: "card-remove-link"%></span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
